name: Go

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      buildkitd:
        image: moby/buildkit:buildx-stable-1
        # need --privileged for container-based workers
        options: --privileged
        ports:
          # expose the default port so we can talk over TCP
          - 1234:1234

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.6"
      - name: build
        run: go build .  
      - name: Build Dockerfile
        run: ./buildkit-gha -t testing --buildkit-addr tcp://buildkitd:1234 .